body{
	font-family: 'Montserrat', sans-serif;
}

header{
	background-color: #53BBB4;
	height:50px;
	padding-top:10px;
	padding-bottom:10px;
	font-family: 'Montserrat', sans-serif;
	font-weight:500;
	font-size:25px;
	color:black;
}

.resultsPage{
	text-align: center;
}

.icon{
	height:25px;
	margin-right:5px;
	margin-top:-5px;
}

.startPage{
	margin-top:5%;
	text-align: center;
}

.hidden{
	display:none;
}

.inputInfo{
	width:50%;
	height:150px;
	display:inline-block;
	overflow:scroll;
}

button{
	display:inline-block;
}

h4{
	display:inline-block;
}

.well{
	display:inline-block;
	width:50%;
	height:100px;
	overflow: scroll;
}