body{
	font-family: 'Montserrat', sans-serif;
}

header{
	background-color: #53BBB4;
	height:50px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:-10px;
	font-family: 'Montserrat', sans-serif;
	font-weight:500;
	font-size:25px;
	color:black;
}

.resultsPage{
	
}

.icon{
	height:25px;
	margin-right:5px;
	margin-top:-5px;
}

.startPage{
	margin-top:3%;
	text-align: center;
}

.hidden{
	display:none;
}

.inputInfo{
	width:50%;
	height:150px;
	display:inline-block;
	overflow:scroll;
}


h4{
	display:inline-block;
}

.inputInfo{
	width:100%;
	height:500px;
	overflow: scroll;
}

.inputTitle{
	max-width: 80%;
}

h4.container-fluid{
	background-color: #53BBB4;
	padding-top:5px;
	display:block;
	height:30px;
}

.btn-xs{
	background: none;
	float:right;
	width:10px;
}

.btn-xs:focus {
  outline: none;
}

.form-control.input-lg{
	margin-top:20px;
	width:60%;
	height:100px;
	display:inline-block;
	font-size: 60px;
	text-align: center;
}
.instructions{
	margin-top:-5px;
	font-size:20px;
}
.call{
	font-size:40px;
}
.credits{
	margin-top:5px;
	display:block;
	color:lightgray;
}
