body{
	font-family: 'Montserrat', sans-serif;
}

header{
	background-color: #53BBB4;
	height:50px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:-10px;
	font-family: 'Montserrat', sans-serif;
	font-weight:500;
	font-size:25px;
	color:black;
}

.resultsPage{
	
}

.icon{
	height:25px;
	margin-right:5px;
	margin-top:-5px;
}

.startPage{
	margin-top:3%;
	text-align: center;
}

.hidden{
	display:none;
}

.inputInfo{
	width:50%;
	height:150px;
	display:inline-block;
	overflow:scroll;
}


h4{
	display:inline-block;
}

.inputInfo{
	width:100%;
	height:500px;
	overflow: scroll;
}

.inputTitle{
	max-width: 80%;
}

h4.container-fluid{
	background-color: #53BBB4;
	padding-top:5px;
	display:block;
	height:30px;
}

.btn-xs{
	background: none;
	float:right;
	width:10px;
}

.btn-xs:focus {
  outline: none;
}

.form-control.input-lg{
	margin-top:20px;
	width:60%;
	height:100px;
	display:inline-block;
	font-size: 3.3vw;
	text-align: center;
}
.instructions{
	margin-top:-5px;
	font-size:20px;
}
.call{
	font-size:40px;
}
.credits{
	margin-top:5px;
	display:block;
	color:lightgray;
}

.coverImage{
	float:right;
	margin-left:5px;
	margin-bottom:5px;
}

.startOver{
	border:none;
	text-align: center;
	background-color: #53BBB4;
	margin-top:10px;
	width:80%;
}

.errorDiv{
	color:red;
	font-weight:500;
	bottom-margin:-20px;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-right:auto;
    margin-left:auto;
    margin-top:5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
Try it Yourself »

